/*----------------- AFFICHAGE GLOBAL ---------------------*/
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.mobile, .night{
    display: none;
}
#icone2{
    display: none;
}

#wrapper{
    max-width: 1128px;
    margin: 0 auto;
    position: relative;
}

.img-resize{
    width: 100%;
}

body{
    font-size: 15px;
    margin: 0;
}

    /* raccourcis display */
.disp-flex{
    display: flex;
}
.al-center{
    align-items: center;
}

.justifier{
    text-align: justify;
}

.padleft{
    padding-left: 1em;
}

.float-right{
    float: right;
}

.btn-vert{
    background-color: #6aa821;
    border : 1px solid #6aa821;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.4em 0.5em;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------*/

/*----------------- HEADER -------------------------------*/
    /* NAV + LOGO*/
body div header section{
    display: flex;
}
.logo{
    height: 100px;
}
.logopadtop{
    padding-top: 11px;
}
body div header section nav{
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
header nav li{
    list-style: none;
    text-align: center;
    margin: 1em;
}
body div header nav a{
    text-decoration-line: none;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 1em;
}

    /* BANNIERE */
body div header figure{
    margin: 0 0 1em;
}
body div header figure div{
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
body div header figure div img{
    width: 100%;
}
body div header figure div figcaption{
    position: absolute;
    bottom: 0;
    background-color: #1a630771;
    color: white;
    width: 100%;
}
body div header figure div figcaption span[class="disp-flex"]{
    margin: 1em;
}
span[class="fas fa-caret-right"]{
    margin-left: 0.5em;
}

    /* SWITCH DARK MODE */
#dark-switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
#dark-switch input{   /*permet de cacher la checkbox par défaut */
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    transition: 0.4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #6aa821;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
#nuit{
    padding-left: 1em;
}
/*--------------------------------------------------------*/


/*----------------- MAIN ---------------------------------*/
body div main{
    margin-top: 1.25em;
    border-bottom: solid #6aa821;
}
    /* ARTICLE */
body div main article{
    flex: 2;
    padding: 0 1em 0 0.5em;;
}
body div main aside{
    flex: 1;
    background-color: #6aa821;
    color: white;
    text-align: center;
}
#icone{
    float: left;
    min-width: 1.25em;
    min-height: 1.25em;
    max-width: 1.25em;
    max-height: 1.25em;
    margin-right: 0.5em;
}
h1{
    margin-top: 1em;
}

    /* ASIDE */
body div main aside figure{
    width: 146px;
    height: 114px;
    margin: 0 auto;
}
body div main aside p{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    padding-bottom: 1em;
}
body div main aside nav{
    padding-top: 2em;
    padding-bottom: 1em;
}
body div main aside nav a{
    margin: 0 0.25em;
    font-size: 35px;
    color: white;
    text-decoration: none;
}
h2{
    margin: 0;
    padding: 1em 0;
}
/*--------------------------------------------------------*/

/*----------------- FOOTER -------------------------------*/
#greentri{
    width: 2em;
    height: 2em;
    margin: 0 auto;
    transform: translate(0, -0.25em);
}
footer div section{
    flex: 1;
    margin: 1em;
}

    /* NEWSLETTER */
footer div form input{
    margin: 0.25em 0;
}
footer input[type="submit"]{
    background-color: #6aa821;
    border: 1px solid #6aa821;
    color: white;
    height: 30px;
}

    /* GALERIES + PARTENAIRES */
footer div section nav{
    flex-wrap: wrap;
}
footer div section nav a{
    margin: 0.25em;
    overflow: hidden;
    height: 70px;
    width: 70px;
}
footer div section nav a img{
    height: 100%;
}
footer input{
    height: 35px;
}
/*--------------------------------------------------------*/



/*----------------- RESPONSIVE ---------------------------*/
@media screen and (max-width: 820px) {
    .disp-block{
        display: block;
    }
    aside figure{
        display: none;
    }
}

@media screen and (max-width: 753px) {
    h1{
        text-align: center;
        
    }
    #icone2{
        display:block;
        min-width: 2em;
        min-height: 2em;
        max-width: 2em;
        max-height: 2em;
        margin: auto;
    }
    div[id="icone"]{
        display: none;
    }
}

@media screen and (max-width: 644px) {
    .mobile{
        display:block;
    }
    body div header section>a, header figcaption{
        display: none;
    }
    header figure{
        position: relative;
    }
    header div[class="mobile"]{
        position: absolute;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    header div[class="mobile"] div{
        display: flex;
        align-items: flex-end;
    }

        /* BURGER */
    #burger{
        position: absolute;
        color: white;
        margin: 1em;
        z-index: 2;
        right: 0;
        cursor: pointer;
    }

        /* NAVBAR ALT */
    header{
        position: relative;
    }
    #main-nav{
        background-color: #6aa821;
        height: 130px;
        margin: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        transform: translateY(-100%);
        transition: 0.4s;
        display:block;
    }
    #main-nav li{
        text-align: center;
        list-style: none;
        margin: 1em 0;
    }
    #main-nav li a{
        color: white;
        /*display: block;*/
        width: auto;
        margin: 0;
        opacity: 0;
    }
    #main-nav.isOpen{
        transform: translateY(0%);
    }
    #main-nav.isOpen a{
        opacity: 1;
    }
}

@media screen and (max-width: 510px) {
    body div header figure div img[class="imgbanner"]{
        width: auto;
        height: 300px;
        position:absolute;
    }
}

@media screen and (max-width: 590px) {
    footer div[class="disp-flex"]{
        display: block;
    }
    footer div section{
        padding: 0em 1em 1em;
        margin: 0em 0 1em;
    }
    footer input[type="text"], footer input[type="email"]{
        width: 100%;
    }
    h3{
        text-align: center;
    }
    nav[class="disp-flex help"]{
        display: block;
    }
    nav[class="disp-flex help"] a{
        width: 100%;
        margin: 0.25em;
        overflow: hidden;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .footer-img{
        width: 100%;
        height: auto;
    }
    nav[class="disp-flex help2"]{
        justify-content: center;
    }
}


/*--------------------------------------------------------*/

/*----------------- NIGHT MODE ---------------------------*/
.isDark{
    background-color: rgb(41, 41, 41);
}
body[class="isDark"] header nav a, body[class="isDark"] main, body[class="isDark"] header p{
    color: white;
}
body[class="isDark"] .white{
    display: none;
}
body[class="isDark"] .night{
    display: block;
}
/*--------------------------------------------------------*/